<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <!-- Author -->
  <meta name="author" content="https://www.linkedin.com/in/wahyu-fatur-rizky/">
  <!-- description -->
  <meta name="description" content="This website is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose studio and portfolio HTML5.">
  <!-- keywords -->
  <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, studio, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, studio, masonry, grid, faq">
  <!-- Favicon -->
  <link rel="icon" href="favicon.ico">
  <!-- Page Title -->
  <title>Home Page</title>

  <!-- Bundle -->
  <link href="assets/dist/css/bundle.min.css" rel="stylesheet">
  <!-- Plugin Css -->
  <link href="assets/dist/fonts/fontawesome/css/all.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/dist/fonts/LineIcons-Package-2.0/WebFont/font-css/LineIcons.min.css" rel="stylesheet">
  <link href="assets/dist/css/revolution-settings.min.css" rel="stylesheet">
  <link href="assets/dist/css/jquery.fancybox.min.css" rel="stylesheet">
  <link href="assets/dist/css/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/dist/css/cubeportfolio.min.css" rel="stylesheet">
  <!-- Style Sheet -->
  <link href="assets/dist/css/style.css" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini layout-fixed">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->

  <!-- JavaScript -->
  <script src="assets/dist/js/bundle.min.js"></script>
  <!-- Plugin Js -->
  <script src="assets/dist/js/jquery.appear.js"></script>
  <script src="assets/dist/js/jquery.fancybox.min.js"></script>
  <script src="assets/dist/js/owl.carousel.min.js"></script>
  <script src="assets/dist/js/parallaxie.min.js"></script>
  <script src="assets/dist/js/wow.min.js"></script>
  <script src="assets/dist/js/jquery.cubeportfolio.min.js"></script>
  <!-- REVOLUTION JS FILES -->
  <script src="assets/dist/js/jquery.themepunch.tools.min.js"></script>
  <script src="assets/dist/js/jquery.themepunch.revolution.min.js"></script>
  <!-- SLIDER REVOLUTION EXTENSIONS -->
  <script src="assets/dist/js/revolution.extension.actions.min.js"></script>
  <script src="assets/dist/js/revolution.extension.carousel.min.js"></script>
  <script src="assets/dist/js/revolution.extension.kenburn.min.js"></script>
  <script src="assets/dist/js/revolution.extension.layeranimation.min.js"></script>
  <script src="assets/dist/js/revolution.extension.migration.min.js"></script>
  <script src="assets/dist/js/revolution.extension.navigation.min.js"></script>
  <script src="assets/dist/js/revolution.extension.parallax.min.js"></script>
  <script src="assets/dist/js/revolution.extension.slideanims.min.js"></script>
  <script src="assets/dist/js/revolution.extension.video.min.js"></script>
  <!-- google map-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script>
  <script src="assets/dist/js/map.js"></script>
  <!-- custom script-->
  <script src="assets/dist/js/script.js"></script>

</body>

</html>
