<template>
  <div>
    <!-- Preloader -->
    <div class="preloader">
      <div class="centrize full-width">
        <div class="vertical-center">
          <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader End -->

    <!--Header Start-->
    <header>
      <div class="container d-none d-lg-block d-xl-none d-xl-block">
        <div class="row text-center">
          <div class="col-6">
            <p>Gratis Ebook 9 cara Cerdas Menggunakan Domain [X]</p>
          </div>
          <div class="col-6">
            <div class="row d-flex justify-content-center">
              <i class="fas fa-phone-alt mr-2 mt-1"></i><p>0822 - 7458 - 6011</p>
              <i class="fas fa-comments ml-2 mr-2 mt-1"></i><p>Live Chat</p>
              <i class="fas fa-user-circle ml-2 mr-2 mt-1"></i><p>Member Area</p>
            </div>
          </div>
        </div>
      </div>

      <!--Navigation-->
      <nav class="navbar navbar-top-default navbar-expand-lg navbar-simple nav-line">
        <div class="container">
          <a href="#home" title="Logo" class="logo scroll">
            <!--Logo Default-->
            <img src="../../public/assets/dist/img/logo.png" alt="logo" class="logo-dark">
          </a>

          <!--Nav Links-->
          <div class="collapse navbar-collapse" id="Niaga Hoster">
            <div class="navbar-nav ml-auto">
              <a class="nav-link scroll" href="#home">Hosting</a>
              <a class="nav-link scroll" href="#about">Domain</a>
              <a class="nav-link scroll" href="#team">Server</a>
              <a class="nav-link scroll" href="#portfolio">Website</a>
              <a class="nav-link scroll" href="#client">Afiliasi</a>
              <a class="nav-link scroll" href="#blog">Promo</a>
              <a class="nav-link scroll" href="#contact">Pembayaran</a>
              <a class="nav-link scroll" href="#contact">Review</a>
              <a class="nav-link scroll" href="#contact">Kontak</a>
              <a class="nav-link scroll" href="#contact">Blog</a>
            </div>
          </div>

          <!--Side Menu Button-->
          <a href="javascript:void(0)" class="sidemenu_btn" id="sidemenu_toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>

        </div>
      </nav>

      <!--Side Nav-->
      <div class="side-menu hidden">
        <div class="inner-wrapper">
          <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
          <nav class="side-nav w-100">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link scroll" href="#home">Hosting</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#about">Domain</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#services">Server</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#portfolio">Website</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#client">Afiliasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#blog">Promo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#contact">Pembayaran</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#contact">Review</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#contact">Kontak</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scroll" href="#contact">Blog</a>
              </li>
            </ul>
          </nav>

          <div class="side-footer text-white w-100">
            <ul class="social-icons-simple">
              <li><a class="facebook-text-hvr" href="javascript:void(0)"><i class="fab fa-facebook-f"></i> </a> </li>
              <li><a class="instagram-text-hvr" href="javascript:void(0)"><i class="fab fa-instagram"></i> </a> </li>
              <li><a class="twitter-text-hvr" href="javascript:void(0)"><i class="fab fa-twitter"></i> </a> </li>
            </ul>
            <p class="text-white">&copy; 2020 Niaga Hoster. Made With Love by Wahyu Fatur Rizki</p>
          </div>
        </div>
      </div>
      <a id="close_side_menu" href="javascript:void(0);"></a>
      <!-- End side menu -->

    </header>
    <!--Header End-->

    <!--Home Start-->
    <section id="home" class="home-banner">
      <div class="container">
        <div class="row align-items-lg-center">
          <div class="col-lg-6">
            <!-- Box Area -->
            <div class="heading-box">
              <h2>PHP <span class="second-color">Hosting</span></h2>
              <p><span class="second-color">Cepat, Handal</span> ,penuh dengan modul PHP yang anda butuhkan.</p>

              <ul class="about-list mt-3">
                <li><i class="fas fa-check-circle text-success"></i> Solusi PHP untuk peforma query yang lebih cepat.
                  elit.</li>
                <li><i class="fas fa-check-circle text-success"></i> Konsumsi memori yang lebih rendah.</li>
                <li><i class="fas fa-check-circle text-success"></i> Support PHP 5.3 PHP 5.4 PHP 5.5 PHP 5.6 PHP 5.7
                  males.</li>
                <li><i class="fas fa-check-circle text-success"></i> Fitur enkripsi ionCube dan Zend Guard Loaders</li>
              </ul>

              <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-blue-niaga-hoster mr-2 mt-4">Learn More</a>
              <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-transparent-black mt-4">Get Started</a>

            </div>
          </div>

          <div class="col-lg-6">
            <div class="slider-right">
              <svg class="slider-shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700">
                <g>
                  <path data-depth="0.05" id="shape-1" fill="#007AFF "
                    d="M355.43 45.1C398 31.19 442.59 29 484 39.88c55.11 14.5 117.25 54.91 134.57 160.78 0 0 18.6 99.41-12.78 232 0 0-38.65 142.61-90.66 192 0 0-59 61.95-148.78 59.18 0 0-42.15 0-102.34-27.17 0 0-184-88.78-240.17-199S11 211.81 150.69 135.43C241.1 86 314.73 58.41 355.43 45.1z"
                    opacity=".25" />
                  <path data-depth="0.07" id="shape-2" fill="#007AFF "
                    d="M105.78 387.15c-15.76-38.08-21-79.83-14.15-120.46C100.79 212.61 133 148.14 228 116.38c0 0 89-32 211.88-21.76 0 0 132.5 15.66 181.18 57.51 0 0 60.65 46.59 64.69 131.66 0 0 3.11 39.73-17.22 100.45 0 0-67.27 186.43-163.35 255.44S282.55 687.58 202.89 567c-51.57-78-82.04-143.42-97.11-179.85z"
                    opacity=".25" />
                  <path data-depth="0.09" id="shape-3" fill="#007AFF "
                    d="M112.59 129.56c18.72-39.73 47.85-73.83 84.82-97.56 49.2-31.55 123.12-52.4 216.29-.29 0 0 89.1 47.22 169.11 151.43 0 0 82.67 115.68 84.6 184.07 0 0 6.77 81.22-57.4 145.42 0 0-29.09 30.94-91.54 58.46 0 0-195.21 80.68-318.52 54.43S2.54 484.38 40.43 335.12C65 238.51 94.68 167.58 112.59 129.56z"
                    opacity=".25" />
                  <path id="shape-4"
                    d="M129.39 153.77C146.74 117 173.73 85.35 208 63.38c45.59-29.25 114.09-48.57 200.42-.28 0 0 82.56 43.75 156.7 140.31 0 0 76.61 107.2 78.4 170.57 0 0 6.27 75.26-53.19 134.75 0 0-27 28.67-84.82 54.17 0 0-180.89 74.76-295.15 50.43S27.41 482.55 62.52 344.24c22.74-89.52 50.27-155.24 66.87-190.47z"
                    opacity="0" />
                  <clipPath id="shape-img">
                    <use xlink:href="#shape-4" style="overflow:visible;" />
                  </clipPath>
                </g>
                <!--Change Image path here-->
                <image data-depth="0.1" clip-path="url(#shape-img)" height="100%" width="100%"
                  xlink:href="../../public/assets/dist/img/about-img.png" />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Home End-->

    <!--Tech Start-->
    <section id="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="team-item">
              <img src="../../public/assets/dist/img/team-img-1.jpg" alt="team">
              <div class="team-detail">
                <h5 class="m-0">PHP Zend Guard Loader</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="team-item">
              <img src="../../public/assets/dist/img/team-img-2.jpg" alt="team">
              <div class="team-detail">
                <h5 class="m-0">PHP Composer</h5>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-item">
              <img src="../../public/assets/dist/img/team-img-3.jpg" alt="team">
              <div class="team-detail">
                <h5 class="m-0">PHP ionCube Loader</h5>              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Tech End-->

    <!--About Star-->
    <section id="about">
      <div class="container">
        <div class="row dot-box">

          <!-- Heading Area-->
          <div class="col-lg-6 order-lg-2">
            <div class="heading-area pl-lg-4 p-0">
              <h2 class="title">Linux Hosting yang Stabil dengan Teknologi LVE</h2>
              <p class="paragraph">SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technologies <b>CageFS</b> security <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.</p>
                <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-blue-niaga-hoster mr-2 mt-4">Pilih Hosting Anda</a>
            </div>
          </div>

          <!-- Features Box-->
          <div class="col-lg-6">
            <!--About Image-->
            <div class="about-image">
              <img src="../../public/assets/dist/img/about-img.png" alt="about-img">
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--About End-->

    <!--Blog Start-->
    <section class="bg-light" id="blog">
      <div class="container">
        <!--Row-->
        <div class="row">
          <div class="col-md-12 text-center">
            <!--Heading-->
            <div class="heading-area mx-570 pb-5">
              <h2 class="title mb-3">Paket Hosting Singapura yang Tepat</h2>
              <h4 class="sub-title second-color">Diskon 40% + Domain dan SSL Gratis untuk Anda</h4>
            </div>
          </div>
        </div>
        <!--Row-->
        <div class="row wow fadeInUp text-center">
          <!--Price Item-->
          <div class="col-lg-3">
            <div class="news-item">
              <div class="news-text-box text-center">
                <span class="date second-color">Bayi</span>
                <h6 class="news-title"><del>Rp 19.900/bln</del></h6>
                <a href="studio/blog-list.html">
                  <h4 class="news-title">Rp 14.900/bln</h4>
                </a>
                <p class="para"><b>938</b> Pengguna Terdaftar</p>
                <p class="para"><b>0.5X RESOURCE POWER</b></p>
                <p class="para"><b>500 MB</b> Disk Space</p>
                <p class="para"><b>Unlimited</b> Banwidth</p>
                <p class="para"><b>1</b> Domain</p>
                <p class="para"><b>Instant</b> Backup</p>
                <p class="para"><b>Unlimited SLL</b> Gratis Selamanya</p>

                <a href="javascript:void(0);" class="btn btn-outline btn-medium btn-rounded btn-transparent-black mr-2 mt-4">Pilih Sekarang</a>
              </div>
            </div>
          </div>
          <!--Price Item-->
          <div class="col-lg-3">
            <div class="news-item">
              <div class="news-text-box text-center">
                <span class="date second-color">Bayi</span>
                <h6 class="news-title"><del>Rp 19.900/bln</del></h6>
                <a href="studio/blog-list.html">
                  <h4 class="news-title">Rp 14.900/bln</h4>
                </a>
                <p class="para"><b>938</b> Pengguna Terdaftar</p>
                <p class="para"><b>0.5X RESOURCE POWER</b></p>
                <p class="para"><b>500 MB</b> Disk Space</p>
                <p class="para"><b>Unlimited</b> Banwidth</p>
                <p class="para"><b>1</b> Domain</p>
                <p class="para"><b>Instant</b> Backup</p>
                <p class="para"><b>Unlimited SLL</b> Gratis Selamanya</p>

                <a href="javascript:void(0);" class="btn btn-outline btn-medium btn-rounded btn-transparent-black mr-2 mt-4">Pilih Sekarang</a>
              </div>
            </div>
          </div>
          <!--Price Item-->
          <div class="col-lg-3">
            <div class="news-item">
              <div class="news-text-box text-center">
                <span class="date second-color">Bayi</span>
                <h6 class="news-title"><del>Rp 19.900/bln</del></h6>
                <a href="studio/blog-list.html">
                  <h4 class="news-title">Rp 14.900/bln</h4>
                </a>
                <p class="para"><b>938</b> Pengguna Terdaftar</p>
                <p class="para"><b>0.5X RESOURCE POWER</b></p>
                <p class="para"><b>500 MB</b> Disk Space</p>
                <p class="para"><b>Unlimited</b> Banwidth</p>
                <p class="para"><b>1</b> Domain</p>
                <p class="para"><b>Instant</b> Backup</p>
                <p class="para"><b>Unlimited SLL</b> Gratis Selamanya</p>

                <a href="javascript:void(0);" class="btn btn-outline btn-medium btn-rounded btn-blue-niaga-hoster mr-2 mt-4">Pilih Sekarang</a>
              </div>
            </div>
          </div>
          <!--Price Item-->
          <div class="col-lg-3">
            <div class="news-item">
              <div class="news-text-box text-center">
                <span class="date second-color">Bayi</span>
                <h6 class="news-title"><del>Rp 19.900/bln</del></h6>
                <a href="studio/blog-list.html">
                  <h4 class="news-title">Rp 14.900/bln</h4>
                </a>
                <p class="para"><b>938</b> Pengguna Terdaftar</p>
                <p class="para"><b>0.5X RESOURCE POWER</b></p>
                <p class="para"><b>500 MB</b> Disk Space</p>
                <p class="para"><b>Unlimited</b> Banwidth</p>
                <p class="para"><b>1</b> Domain</p>
                <p class="para"><b>Instant</b> Backup</p>
                <p class="para"><b>Unlimited SLL</b> Gratis Selamanya</p>

                <a href="javascript:void(0);" class="btn btn-outline btn-medium btn-rounded btn-transparent-black mr-2 mt-4">Pilih Sekarang</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Price End-->

    <!-- Start Poin Niagahoster -->
      <section >
        <div class="container">
        <!--Row-->
        <div class="row">
          <div class="col-md-12 text-center">
            <!--Heading-->
            <div class="heading-area mx-570 pb-5">
              <h2 class="title mb-3">Powerful dengan Limit PHP yang Lebih Besar</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <!-- Box Area -->
            <div class="heading-box">
              <ul class="about-list mt-3">
                <li><i class="fas fa-check-circle text-success"></i> Solusi PHP untuk peforma query yang lebih cepat.
                  elit.</li>
                <li><i class="fas fa-check-circle text-success"></i> Konsumsi memori yang lebih rendah.</li>
                <li><i class="fas fa-check-circle text-success"></i> Support PHP 5.3 PHP 5.4 PHP 5.5 PHP 5.6 PHP 5.7
                  males.</li>
              </ul>
            </div>
          </div>
          <div class="col-6">
            <!-- Box Area -->
            <div class="heading-box">
              <ul class="about-list mt-3">
                <li><i class="fas fa-check-circle text-success"></i> Solusi PHP untuk peforma query yang lebih cepat.
                  elit.</li>
                <li><i class="fas fa-check-circle text-success"></i> Konsumsi memori yang lebih rendah.</li>
                <li><i class="fas fa-check-circle text-success"></i> Support PHP 5.3 PHP 5.4 PHP 5.5 PHP 5.6 PHP 5.7
                  males.</li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </section>
    <!-- End Poin Niagahoster -->

    <!--Parallax Start-->
    <section class="parallax bg-img1">
      <div class="bg-overlay bg-second opacity-7"></div>
      <div class="container">
        <!--Row-->
        <div class="row">
          <div class="col-md-12 text-center">
            <!--Heading-->
            <div class="heading-area mx-570 pb-5">
              <h2 class="title mb-3 text-white">Semua Paket Hosting Sudah Termasuk</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <div class="parallax-box text-white">
              <i class="fa fa-check" aria-hidden="true"></i>
              <!-- <h2 class="count">125</h2> -->
              <h3>Semua PHP Versi</h3>
              <h5>Pilih mulai dari versi PHP 5.3 s/d PHP 7. Ubah sesuka Anda!</h5>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="parallax-box text-white">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <h3>MySQL Versi 5.6</h3>
              <h5>Nikmati MySQL versi terbaru, tercepat dan kaya akan fitur</h5>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="parallax-box text-white">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h3>Panel Hosting cPanel</h3>
              <h5>Kelola website dengan panel canggih yang familiar di hair Anda</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <div class="parallax-box text-white">
              <i class="fa fa-check" aria-hidden="true"></i>
              <!-- <h2 class="count">125</h2> -->
              <h3>Garansi Uptime 99.9%</h3>
              <h5>Data center yang mendukung kelangsungan website Anda 24/7</h5>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="parallax-box text-white">
              <i class="fa fa-flag" aria-hidden="true"></i>
              <h3>Database innoDB Unlimited</h3>
              <h5>Jumlah dan ukuran database yang tumbuh sesuai kebutuhan Anda</h5>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4">
            <div class="parallax-box text-white">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h3>Wildcard Remote MySQL</h3>
              <h5>Mendukung s/d 25 max_uxer_connections dan 100 max_connections</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Parallax End-->

    <!--Mendukung Penuh Framework Laravel Star-->
    <section id="about">
      <div class="container">
        <div class="row dot-box">

          <!-- Heading Area-->
          <div class="col-lg-6">
            <div class="heading-area pl-lg-4 p-0">
              <h2 class="title">Mendukung Penuh Framework Laravel</h2>
              <p class="paragraph">Tak perlu menggunakan dedicated server ataupun VPS yang mahal. Layanan PHP hosting murah kami mendukung penuh framework favorit Anda.</p>

              <!-- Box Area -->
              <div class="heading-box">
                <ul class="about-list mt-3">
                  <li><i class="fas fa-check-circle text-success"></i> Install Laravel <b>1 klik</b> dengan Softaculous installer.</li>
                  <li><i class="fas fa-check-circle text-success"></i> Mendukung ekstensi<b>PHP MCrypt, phar, mbstring, json,</b> dan <b>fileinfo</b>.</li>
                  <li><i class="fas fa-check-circle text-success"></i> Tersedia <b>Composer</b> dan <b>SSH</b> untuk menginstall packages pilihan Anda.</li>
                </ul>
              </div>
              <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-blue-niaga-hoster mr-2 mt-4">Pilih Hosting Anda</a>

            </div>
          </div>

          <!-- Features Box-->
          <div class="col-lg-6">
            <!--About Image-->
            <div class="about-image">
              <img src="../../public/assets/dist/img/about-img.png" alt="about-img">
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--Mendukung Penuh Framework Laravel End-->

    <!-- Start Modul Lengkap -->
      <section >
        <div class="container">
        <!--Row-->
        <div class="row">
          <div class="col-md-12 text-center">
            <!--Heading-->
            <div class="heading-area mx-570 pb-5">
              <h2 class="title mb-3">Modul Lengkap untuk Menjalankan Aplikasi PHP Anda.</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <ul>
              <li><i class="fas fa-check-circle text-success"></i> IcePHP</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apc</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apcu</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apm</li><br>
              <li><i class="fas fa-check-circle text-success"></i> ares</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bomath</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bcompiler</li><br>
              <li><i class="fas fa-check-circle text-success"></i> big_int</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bitset</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bloomy</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bz2_filter</li><br>
              <li><i class="fas fa-check-circle text-success"></i> clamav</li><br>
              <li><i class="fas fa-check-circle text-success"></i> coin_acceptor</li><br>
              <li><i class="fas fa-check-circle text-success"></i> crack</li><br>
              <li><i class="fas fa-check-circle text-success"></i> dba</li><br>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-check-circle text-success"></i> IcePHP</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apc</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apcu</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apm</li><br>
              <li><i class="fas fa-check-circle text-success"></i> ares</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bomath</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bcompiler</li><br>
              <li><i class="fas fa-check-circle text-success"></i> big_int</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bitset</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bloomy</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bz2_filter</li><br>
              <li><i class="fas fa-check-circle text-success"></i> clamav</li><br>
              <li><i class="fas fa-check-circle text-success"></i> coin_acceptor</li><br>
              <li><i class="fas fa-check-circle text-success"></i> crack</li><br>
              <li><i class="fas fa-check-circle text-success"></i> dba</li><br>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-check-circle text-success"></i> IcePHP</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apc</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apcu</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apm</li><br>
              <li><i class="fas fa-check-circle text-success"></i> ares</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bomath</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bcompiler</li><br>
              <li><i class="fas fa-check-circle text-success"></i> big_int</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bitset</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bloomy</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bz2_filter</li><br>
              <li><i class="fas fa-check-circle text-success"></i> clamav</li><br>
              <li><i class="fas fa-check-circle text-success"></i> coin_acceptor</li><br>
              <li><i class="fas fa-check-circle text-success"></i> crack</li><br>
              <li><i class="fas fa-check-circle text-success"></i> dba</li><br>
            </ul>
          </div>
          <div class="col-3">
            <ul>
              <li><i class="fas fa-check-circle text-success"></i> IcePHP</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apc</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apcu</li><br>
              <li><i class="fas fa-check-circle text-success"></i> apm</li><br>
              <li><i class="fas fa-check-circle text-success"></i> ares</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bomath</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bcompiler</li><br>
              <li><i class="fas fa-check-circle text-success"></i> big_int</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bitset</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bloomy</li><br>
              <li><i class="fas fa-check-circle text-success"></i> bz2_filter</li><br>
              <li><i class="fas fa-check-circle text-success"></i> clamav</li><br>
              <li><i class="fas fa-check-circle text-success"></i> coin_acceptor</li><br>
              <li><i class="fas fa-check-circle text-success"></i> crack</li><br>
              <li><i class="fas fa-check-circle text-success"></i> dba</li><br>
            </ul>
          </div>

        </div>
        <div class="justify-content-center d-flex">
            <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-transparent-black mt-4">Selengkapnya</a>
        </div>
        </div>
      </section>
    <!-- End Modul Lengkap -->

    <!--About Star-->
    <section id="about">
      <div class="container">
        <div class="row dot-box">

          <!-- Heading Area-->
          <div class="col-lg-6 order-lg-2">
            <div class="heading-area pl-lg-4 p-0">
              <h2 class="title">Linux Hosting yang Stabil dengan Teknologi LVE</h2>
              <p class="paragraph">SuperMicro <b>Intel Xeon 24-Cores</b> server dengan RAM <b>128 GB</b> dan teknologi <b>LVE CloudLinux</b> untuk stabilitas server Anda. Dilengkapi dengan <b>SSD</b> untuk kecepatan <b>MySQL</b> dan caching. Apache load balancer berbasis LiteSpeed Technologies <b>CageFS</b> security <b>Raid-10</b> protection dan auto backup untuk keamanan website PHP Anda.</p>
                <a href="javascript:void(0);" class="btn btn-large btn-rounded btn-blue-niaga-hoster mr-2 mt-4">Pilih Hosting Anda</a>
            </div>
          </div>

          <!-- Features Box-->
          <div class="col-lg-6">
            <!--About Image-->
            <div class="about-image">
              <img src="../../public/assets/dist/img/about-img.png" alt="about-img">
            </div>
          </div>

        </div>

      </div>
    </section>
    <!--About End-->

    <!--Blog Start-->
    <section class="bg-light" id="blog">
      <div class="container">
        <!--Row-->
        <div class="row">
          <div class="col-md-12 text-center">
            <!--Heading-->
            <div class="heading-area mx-570 pb-5">
              <h6 class="sub-title second-color">See Our Recent News</h6>
              <h2 class="title m-0">Latest Blog</h2>
            </div>
          </div>
        </div>
        <!--Row-->
        <div class="row wow fadeInUp">
          <!--News Item-->
          <div class="col-lg-4">
            <div class="news-item">
              <img alt="image" class="news-img" src="../../public/assets/dist/img/blog-news-1.jpg">
              <div class="news-text-box">
                <span class="date second-color">October 29, 2020</span>
                <a href="studio/blog-list.html">
                  <h4 class="news-title">Web design is fun</h4>
                </a>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipiscing elit ipsum dolor sit am...</p>
                <a class="author d-flex align-items-center" href="javascript:void(0);">
                  <img alt="image" class="author-img bg-blue" src="../../public/assets/dist/img/avatar-1.png">
                  <h5 class="author-name">Hena Sword</h5>
                </a>
              </div>
            </div>
          </div>
          <!--News Item-->
          <div class="col-lg-4">
            <div class="news-item">
              <img alt="image" class="news-img" src="../../public/assets/dist/img/blog-news-2.jpg">
              <div class="news-text-box">
                <span class="date second-color">October 29, 2020</span>
                <a href="studio/blog-list.html">
                  <h4 class="news-title">Future of websites</h4>
                </a>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipiscing elit ipsum dolor sit am...</p>
                <a class="author d-flex align-items-center" href="javascript:void(0);">
                  <img alt="image" class="author-img bg-purple" src="../../public/assets/dist/img/avatar-2.png">
                  <h5 class="author-name">David Villas</h5>
                </a>
              </div>
            </div>
          </div>
          <!--News Item-->
          <div class="col-lg-4">
            <div class="news-item">
              <img alt="image" class="news-img" src="../../public/assets/dist/img/blog-news-3.jpg">
              <div class="news-text-box">
                <span class="date second-color">October 29, 2020</span>
                <a href="javascript:void(0);">
                  <h4 class="news-title">Digital marketing</h4>
                </a>
                <p class="para">Lorem ipsum dolor sit amet consectetur adipiscing elit ipsum dolor sit am...</p>
                <a class="author d-flex align-items-center" href="javascript:void(0);">
                  <img alt="image" class="author-img bg-pink" src="../../public/assets/dist/img/avatar-3.png">
                  <h5 class="author-name">Teena Walker</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Blog End-->

    <!--Parallax Start-->
    <section class="parallax bg-img1 py-0">
      <div class="bg-overlay bg-second opacity-7"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="parallax-box text-white">
              <h4>Perlu <strong>BANTUAN?</strong> Hubungi Kami: <strong>0274-5305505</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Parallax End-->

    <!--Contact Start-->
    <section id="contact">
      <div class="container">
        <!--Heading-->
        <div class="row">
          <div class="col-md-12 text-center">
            <!--Heading-->
            <div class="heading-area mx-570 pb-5">
              <h6 class="sub-title second-color">For Support Contact Us</h6>
              <h2 class="title m-0">Let's Get In Touch</h2>
            </div>
          </div>
        </div>

        <!--contact us-->
        <form class="contact-form">
          <div class="row">

            <div class="col-sm-12" id="result"></div>

            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="First Name:" required="" id="first_name"
                  name="first_name">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Last Name:" required="" id="last_name"
                  name="last_name">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input class="form-control" type="email" placeholder="Email:" required="" id="email" name="email">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <input class="form-control" type="tel" placeholder="Phone:" id="phone" name="phone">
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <textarea class="form-control" placeholder="Message" id="message" name="message"></textarea>
              </div>
            </div>
            <div class="col-sm-12">
              <button type="submit" class="btn btn-large btn-blue-niaga-hoster btn-rounded mt-4" id="submit_btn">Contact
                Now</button>
            </div>
          </div>
        </form>
      </div>
    </section>
    <!--Contact End-->

    <!--Footer Start-->
    <footer class="footer-style-1 bg-light">
      <div class="container">
        <div class="row align-items-center">
          <!--Social-->
          <div class="col-lg-6">
            <div class="footer-social text-lg-left">
              <ul class="list-unstyled">
                <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true"
                      class="fab fa-facebook-f"></i></a></li>
                <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true"
                      class="fab fa-twitter"></i></a></li>
                <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true"
                      class="fab fa-google-plus-g"></i></a></li>
                <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true"
                      class="fab fa-linkedin-in"></i></a></li>
                <li><a class="wow fadeInUp" href="javascript:void(0);"><i aria-hidden="true"
                      class="fab fa-instagram"></i></a></li>
                <li><a class="wow fadeInDown" href="javascript:void(0);"><i aria-hidden="true"
                      class="fab fa-pinterest-p"></i></a></li>
              </ul>
            </div>
          </div>
          <!--Text-->
          <div class="col-lg-6 text-lg-right">
            <p class="company-about fadeIn">© 2020 Niaga Hoster. Made With Love By <a
                href="linkedin.com/in/wahyu-fatur-rizky/" target="_blank">Wahyu Fatur Rizki</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!--Footer End-->

    <!--Scroll Top Start-->
    <span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
    <!--Scroll Top End-->

  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class HelloWorld extends Vue {
  @Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
